

.bg-success{
    background-color: green;
}

.bg-primary{
    background-color: blue;
}

.bg-danger{
    background-color: red;
}

.relative{
    position: relative;
}

.absolute{
    position: absolute;
}

.right{
    right: 0;
}

.top{
    top:0;
}

.bottom{
    bottom: 0;
}

.left{
    left: 0;
}